<!-- start custom analytics snippet -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X51VWBTS6Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X51VWBTS6Q');
   {
    'custom_map': {
    'dimension1': 'IP_Address',
    'dimension2': 'Access_Time',
    },
    'IP_Address': getIPAddress(),
    'Access_Time': getAccessTime(),
  });
</script>
<!-- end custom analytics snippet -->
